/* Reset default styles for all elements */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
  }
  body {
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
    height: 100vh;
    background-color: #D1CBC1;
    color: #2D383A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: fixed;
    top: calc(50% - 24px); 
    transform: translateY(-50%);
  }
  
  /* Common styles for paragraphs */
  p {
    margin: 25px;
  }
  
  
  /* Responsive font size settings */
  @media only screen and (min-width: 501px) {
    p {
      font-size: calc(24px + 1vw);
    }
  }
  
  @media only screen and (max-width: 500px) and (min-width: 376px) {
    p {
      font-size: calc(22px + 1vw);
    }
  }
  
  @media only screen and (max-width: 375px) and (min-width: 321px) {
    p {
      font-size: calc(18px + 1vw);
    }
  }
  
  
  @media only screen and (max-width: 320px) and (min-width: 276px) {
    p {
      font-size: calc(14px + 1vw);
    }
  }
  
  
  @media only screen and (max-width: 275px) {
    p {
      font-size: calc(12px + 1vw);
    }
  }

  .container2{
    max-width: 450px;
    position: absolute;
    bottom: 15px;

  }
  
  .container2 .searchInput{
    background: #D9D9D9;
    width: 100%;
    border-radius: 5px;
    position: relative;
  }
  
  .searchInput input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .searchInput.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .searchInput .resultBox{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .searchInput.active .resultBox{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .resultBox li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .searchInput.active .resultBox li{
    display: block;
  }
  .resultBox li:hover{
    background: #efefef;
  }
  
  .searchInput .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }